<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="">
    <meta property="twitter:url" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    <!-- these are highest level css overrides for this site only -->
    <style>
    .search {
      max-height: unset !important;
    }
    html {
      background-color: #fff !important;
    }
    </style>
    {% include '_css-link.njk' %}
    {% include '_js-link.njk' %}
    <title>{{ title }}</title>
  </head>
  <body class="">
  <a href="#main-site-content-for-skiplink" class="sr-only focus:not-sr-only text-blue-700 underline">Skip to Main Content</a>
    {% from '../_includes/_components.njk' import unav,nav,footer  %}
     {% include 'nav-data.md' %}
    <main class="nysds-normalize mx-8 md:mx-20" id="main-site-content-for-skiplink">
    <div class="-mx-8 md:-mx-20">
      <div id="search_container">
        <form
            method="get"
            action="/search?q=&amp;btnG.x=65&amp;btnG.y=16&amp;btnG=Search+DOB&amp;site=allsites&amp;client=allsites&amp;proxystylesheet=allsites&amp;output=xml_no_dtd"
            class="search"
            title="DOB Site Search"
            role="search"
            aria-label="Sitewide search"
        >
            <label for="searchDOB">Search DOB</label>
            <span class="searchInput">
                <input type="text" name="q" size="16" maxlength="255" value="" id="searchDOB" title="Input text here and hit &ldquo;Return&rdquo;" tabindex="0" accesskey="S" placeholder="Search DOB" />
                <input name="btnG" type="submit" title="Submit DOB Search" tabindex="0" class="search_button" />
            </span>
            <input type="hidden" name="site" value="allsites" title="hidden site" tabindex="0" />
            <input type="hidden" name="client" value="allsites" title="hidden client" tabindex="0" />
            <input type="hidden" name="proxystylesheet" value="allsites" title="hidden proxy stylesheet" tabindex="0" />
            <input type="hidden" name="output" value="xml_no_dtd" title="hidden output" tabindex="0" />
            <input type="hidden" name="oe" value="latin1" title="hidden oe" tabindex="0" />
        </form>
      </div>
    </div>
    
    {{ content | safe }}
   
    </main>
    {% include 'footer-data.md' %}
  </body>
</html>